h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea,
.btn {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    user-select: none;
    text-decoration: none;
}

.btn:visited {
    color: #333333;
}

input:disabled {
    color: #ccc;
}

button,
.btn {
    color: #333333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled,
.btn:disabled {
    color: #999;
}

button:not(:disabled):active,
.btn:not(:disabled):active {
    background-color: #ddd;
}

button:focus,
.btn:focus {
    border-color: #666;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container-fluid {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.text-center {
    text-align: center !important;
}

.text-light {
    color: #fff;
}

.text-danger {
    color: rgb(243, 0, 0);
}

.text-primary {
    color: rgb(0, 128, 255);
}

.bg-light {
    background-color: #fff;
}

.bg-danger {
    background-color: rgb(243, 0, 0);
}

.bg-primary {
    background-color: rgb(0, 128, 255);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

hr {
    border-top: 0px solid #333;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.inline {
    display: inline;
}
